* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: gray;
}

div div {
    font-size: 26px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, div {
    margin: auto;
}

table, th, td {
    color: white;
    border: 2px solid black;
}

th, td {
    min-width: 150px;
}

button.sort {
    float: right;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}